body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

input[type=number] {
  font-size: 1rem;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
